# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: Node.js CI
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:

    runs-on: ubuntu-latest
    
    env:
      SUPER_SECRET: ${{ secrets.SUPER_SECRET }}
      DB_URL: ${{ secrets.DB_URL }}
      LOG_ENABLED: false
      GROQ_API_KEY: ${{secrets.GROQ_API_KEY}}
      GROQ_MODEL: ${{secrets.GROQ_MODEL}}

    
    environment: production

    strategy:
      matrix:
        node-version: [22.x]

    steps:
    - uses: actions/checkout@v3
    - name: Create .env with Github Secrets and run script
      run: |
        touch .env
        echo SUPER_SECRET=$SUPER_SECRET >> .env
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'npm'
    - run: npm ci
    - run: npm run build --if-present
    - run: npm test

  deploy:
    name: Deploy to Render
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Trigger deployment
        uses: sws2apps/render-deployment@main #consider using pin for dependabot auto update
        with:
          serviceId: ${{ secrets.RENDER_ID }}
          apiKey: ${{ secrets.RENDER_TOKEN }}
          #multipleDeployment: false #optional, default true